<h1>Bookmarks</h1>

<p><%= link_to "Add bookmark", new_bookmark_path %></p>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <strong><%= link_to bookmark.title, bookmark %></strong><br>
      <% if (safe_url = safe_external_url(bookmark.url)) %>
        <%= link_to bookmark.url, safe_url, target: "_blank", rel: "noreferrer" %><br>
      <% else %>
        <%= bookmark.url %><br>
      <% end %>
      Favorite: <%= bookmark.favorite ? "Yes" : "No" %><br>
      <%= link_to "Edit", edit_bookmark_path(bookmark) %> |
      <%= link_to "Delete", bookmark, data: { turbo_method: :delete, turbo_confirm: "Delete this bookmark?" } %>
    </li>
  <% end %>
</ul>
