<h1><%= @bookmark.title %></h1>

<p>
  <strong>URL:</strong>
  <% if (safe_url = safe_external_url(@bookmark.url)) %>
    <%= link_to @bookmark.url, safe_url, target: "_blank", rel: "noreferrer" %>
  <% else %>
    <%= @bookmark.url %>
  <% end %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @bookmark.favorite ? "Yes" : "No" %>
</p>

<p>
  <%= link_to "Edit", edit_bookmark_path(@bookmark) %> |
  <%= link_to "Back to bookmarks", bookmarks_path %>
</p>
